span{
      height:30px;
      width:10%;
      background-color:#ABCDEF;
      display:inline-block;
      float:right;
     padding:3px;
     margin:2px;
    border:4px solid #123456;
    } 
/*div{
    height:70px;
    width:50%;
    background-color:#EDABC2;
    clear:right;

       }*/
p{
   background-color:#888444;
   
   height:150px;
  
   float:right;
   margin:4px;
   border:5px solid #AAAFFF;
   text-align:center;
   box-sizing:border-box;
  }
 .A{
    float:left;
    width:33.3%;
}
.b{float:right;}