.clr{
clear:both;
}
.box-a h2{
    font-family:tahoma;
    text-decoration:underline;
    text-transform:uppercase;
font-style:italic;
color:black;
background-color:#1e6adf;
letter-spacing:.2em;
word-spacing:1em;
text-align:center;
padding:.5em;
margin:.1em;
} 

.box-a{
background:#a7d4f8;
color:black;
padding:1em;
margin-right:.5em;
margin-left:.5em;
margin-top:.5em;
border:solid 5px black;
border-bottom:solid 5px black;
width:90%;

}
.box-b h2{
font-style:italic;
text-align:center;
text-decoration:underline;
text-transform:uppercase;
padding:.7em;
margin:.1em;
word-spacing:1em;
letter-spacing:.2em;
background:#dcaacd;
color:#8b008b;
font-family:charcoal;
font-style:yellowtail;
}
.box-b{
background:#ffffcc;
padding:2em;
margin:1em;
border:double 5px gray;
}
.categories{
border:solid 5px #cccc00;
width:50%;
padding:.5em;
border-radius:30%;
margin:auto;
}
.categories h3{
text-align:center;
text-transform:uppercase;
color:#800080; 
letter-spacing:.6px;


}
.categories ul{
list-style:square ;}

.categories li{
padding-bottom:20px;
/*border-bottom:dotted 2px #000*/;
}

.link a {text-decoration:none;
         color:#6b6b6b;
         border:2px solid #000000;
         background-color:#dddd00;
         transition-property:color
        ,width,background, border-radious;
        transition-duration:.1s;
        transition-timing-funtion:ease-in 1s; 
        transition-delay:.2s; 
        padding:4px;
        margin:3px;
             }
.link a:hover{
             color:red;
             width:100px;
             background-color:#536435;
             border-radius:50%;
             transform:rotate(10deg);
             transform:skew(10deg,5deg);

           }
.link a:active{
             color:#000;
             }

.my-form{
margin-bottom:20em;
padding:3em;}

.my-form .formgroup{
padding:20px;
}
.my-form input[type="text"], .my-form textarea
{
padding:6px;

}
.my-form input[type="submit"]
{
background-color:gray;
color:yellow;
width:40%;
}
.block{
float:right;
width:33.3%;
border:4px dotted green;
padding:10px;
box-sizing:border-box;
margin-top:1em;
overflow:auto;
display:table-cell;
}
.block h3{
text-align:center;
text-decoration:underline;
text-transform:uppercase;

}
.block>p {
background-color:red;
}

.k-box{
margin-top:6em;
width:800px;
border:3px solid black;
padding-bottom:40em;
padding-left:4em;
}
.k-box h1{
position:relative;
top:10px;

}
.k-box{
background-image:url('FB_IMG.jpg');
background-size:100% 100%;
}

.flt{
     width:33%;
     background-color:#00ffff;
     display:inline-block;
    font-size:150%;
    float:left;
   border: 3px solid;
    dispaly:verflow:auto;
display:table-cell;;
box-sizing:border-box;
}

.bb{ background-color:#a46521;
}

